
RecordEdits

Define BetaDistribution { FinanceDist }
Define DiscreteDistribution { CurrencyChoice  IntakeChoice  LiabilityChoice }
Define ErlangDistribution { InboxDelay }
Define ExponentialDistribution { ArrivalDist }
Define GammaDistribution { DigitalTransfer  InvestigationDist }
Define NormalDistribution { CorrectionDist  IntakeDist  PayoutDist }
Define UniformDistribution { SettlementDist }
Define Branch { CurrencyCheck  IntakeCheck  LiabilityCheck }
Define EntityDelay { ClerkInbox_delay  ClientCorrection_delay  DigitalTransfer_delay  Drafting_delay  Finance_delay  HandoffFinance_delay  Investigation_delay  ReSub_delay  return_transfer_delay }
Define EntityGenerator { ArrivalSource }
Define EntitySink { Completed_claims  Rejected_incomplete  Rejected_liability }
Define Queue { FinanceQueue  IntakeQueue  InvestigatorQueue  LawyerQueue  PayoutQueue }
Define Release { ReleaseInvestigator  Release_finance  Release_lawyer }
Define Seize { Seize_Investigator  Seize_finance  Seize_lawyer }
Define Server { FundsTransfServer  IntakeServer }
Define SimEntity { Claim_FCR }
Define Resource { Investigator_res  Lawyer_res  SeniorAdjuster_res }
Define ColladaModel { Axis  Grid100x100 }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define Text { Text1 }
Define View { View1 }

Define EntityLabel { DigitalTransfer_delay.Label  FinanceQueue.Label  HandoffFinance_delay.Label  IntakeQueue.Label  InvestigatorQueue.Label  LawyerQueue.Label  PayoutQueue.Label  ReSub_delay.Label  return_transfer_delay.Label }


FinanceDist UnitType { TimeUnit }
CurrencyChoice UnitType { DimensionlessUnit }
IntakeChoice UnitType { DimensionlessUnit }
LiabilityChoice UnitType { DimensionlessUnit }
InboxDelay UnitType { TimeUnit }
ArrivalDist UnitType { TimeUnit }
DigitalTransfer UnitType { TimeUnit }
InvestigationDist UnitType { TimeUnit }
CorrectionDist UnitType { TimeUnit }
IntakeDist UnitType { TimeUnit }
PayoutDist UnitType { TimeUnit }
SettlementDist UnitType { TimeUnit }

Simulation Description { 'Simulation run control inputs' }

# *** BetaDistribution ***

FinanceDist RandomSeed { 5 }
FinanceDist Location { 360  min }
FinanceDist Scale { 240  min }
FinanceDist AlphaParam { 2 }
FinanceDist BetaParam { 2 }

# *** DiscreteDistribution ***

CurrencyChoice RandomSeed { 12 }
CurrencyChoice ValueList { 1  2 }
CurrencyChoice ProbabilityList { 0.75  0.25 }

IntakeChoice RandomSeed { 10 }
IntakeChoice ValueList { 1  2 }
IntakeChoice ProbabilityList { 0.95  0.05 }

LiabilityChoice RandomSeed { 11 }
LiabilityChoice ValueList { 1  2 }
LiabilityChoice ProbabilityList { 0.90  0.10 }

# *** ErlangDistribution ***

InboxDelay Description { 'waiting time in inbox' }
InboxDelay RandomSeed { 6 }
InboxDelay Mean { 480  min }
InboxDelay Shape { 3 }

# *** ExponentialDistribution ***

ArrivalDist Description { 'How often, new claim' }
ArrivalDist RandomSeed { 1 }
ArrivalDist Mean { 120  min }

# *** GammaDistribution ***

DigitalTransfer Description { 'Technical side ->investigation' }
DigitalTransfer RandomSeed { 3 }
DigitalTransfer Mean { 15  min }
DigitalTransfer Shape { 5 }

InvestigationDist Description { 'Simulation investigation work' }
InvestigationDist RandomSeed { 4 }
InvestigationDist Mean { 1440  min }
InvestigationDist Shape { 2 }

# *** NormalDistribution ***

CorrectionDist RandomSeed { 7 }
CorrectionDist MinValue { 0  min }
CorrectionDist Mean { 960  min }
CorrectionDist StandardDeviation { 120  min }

IntakeDist Description { 'Intake and review' }
IntakeDist RandomSeed { 2 }
IntakeDist MinValue { 0  min }
IntakeDist Mean { 20  min }
IntakeDist StandardDeviation { 4  min }

PayoutDist RandomSeed { 9 }
PayoutDist MinValue { 0  min }
PayoutDist Mean { 30  min }
PayoutDist StandardDeviation { 5  min }

# *** UniformDistribution ***

SettlementDist Description { 'Legal drafting' }
SettlementDist RandomSeed { 8 }
SettlementDist MinValue { 420  min }
SettlementDist MaxValue { 540  min }

# *** Branch ***

CurrencyCheck NextComponentList { Seize_lawyer  return_transfer_delay }
CurrencyCheck Choice { CurrencyChoice }

IntakeCheck NextComponentList { DigitalTransfer_delay  Rejected_incomplete }
IntakeCheck Choice { IntakeChoice }

LiabilityCheck NextComponentList { HandoffFinance_delay  Rejected_liability }
LiabilityCheck Choice { LiabilityChoice }

# *** EntityDelay ***

ClerkInbox_delay NextComponent { ClientCorrection_delay }
ClerkInbox_delay Duration { InboxDelay }

ClientCorrection_delay NextComponent { ReSub_delay }
ClientCorrection_delay Duration { CorrectionDist }

DigitalTransfer_delay NextComponent { Seize_Investigator }
DigitalTransfer_delay Duration { DigitalTransfer }

Drafting_delay NextComponent { Release_lawyer }
Drafting_delay Duration { SettlementDist }

Finance_delay NextComponent { Release_finance }
Finance_delay Duration { FinanceDist }

HandoffFinance_delay NextComponent { Seize_finance }
HandoffFinance_delay Duration { 15  min }

Investigation_delay NextComponent { ReleaseInvestigator }
Investigation_delay Duration { InvestigationDist }

ReSub_delay NextComponent { Seize_finance }
ReSub_delay Duration { 15  min }

return_transfer_delay NextComponent { ClerkInbox_delay }
return_transfer_delay Duration { 15  min }

# *** EntityGenerator ***

ArrivalSource NextComponent { IntakeServer }
ArrivalSource InterArrivalTime { ArrivalDist }
ArrivalSource PrototypeEntity { Claim_FCR }

# *** Release ***

ReleaseInvestigator NextComponent { LiabilityCheck }
ReleaseInvestigator ResourceList { Investigator_res }

Release_finance NextComponent { CurrencyCheck }
Release_finance ResourceList { SeniorAdjuster_res }

Release_lawyer NextComponent { FundsTransfServer }
Release_lawyer ResourceList { Lawyer_res }

# *** Seize ***

Seize_Investigator NextComponent { Investigation_delay }
Seize_Investigator WaitQueue { InvestigatorQueue }
Seize_Investigator ResourceList { Investigator_res }

Seize_finance NextComponent { Finance_delay }
Seize_finance WaitQueue { FinanceQueue }
Seize_finance ResourceList { SeniorAdjuster_res }

Seize_lawyer NextComponent { Drafting_delay }
Seize_lawyer WaitQueue { LawyerQueue }
Seize_lawyer ResourceList { Lawyer_res }

# *** Server ***

FundsTransfServer NextComponent { Completed_claims }
FundsTransfServer WaitQueue { PayoutQueue }
FundsTransfServer ServiceTime { PayoutDist }

IntakeServer NextComponent { IntakeCheck }
IntakeServer WaitQueue { IntakeQueue }
IntakeServer ServiceTime { IntakeDist }

# *** Resource ***

Investigator_res Capacity { 3 }

Lawyer_res Capacity { 1 }

SeniorAdjuster_res Capacity { 2 }

# *** GRAPHICS INPUTS ***

Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation RealTimeFactor { 5000 }
Simulation ShowLabels { TRUE }
Simulation ShowSubModels { TRUE }
Simulation ShowEntityFlow { TRUE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }
Simulation ModelBuilderPos { 0  111 }
Simulation ModelBuilderSize { 220  436 }
Simulation ObjectSelectorPos { 0  548 }
Simulation ObjectSelectorSize { 220  436 }
Simulation InputEditorPos { 221  624 }
Simulation InputEditorSize { 511  264 }
Simulation OutputViewerPos { 763  638 }
Simulation OutputViewerSize { 420  250 }

FinanceDist Position { 17.6  8.3  0.0  m }

CurrencyChoice Position { 23.6  8.4  0.0  m }

IntakeChoice Position { -0.6  6.8  0.0  m }

LiabilityChoice Position { 9.4  7.8  0.0  m }

InboxDelay Position { 21.5  8.4  0.0  m }

ArrivalDist Position { -4.2  7.6  0.0  m }

DigitalTransfer Position { 2.4  7.8  0.0  m }

InvestigationDist Position { 6.0  7.7  -0.0  m }

CorrectionDist Position { 19.6  8.4  0.0  m }

IntakeDist Position { -2.4  7.5  -0.0  m }

PayoutDist Position { 40.5  8.3  0.0  m }

SettlementDist Position { 32.2  8.2  0.0  m }

CurrencyCheck Position { 24.0  2.1  0.0  m }

IntakeCheck Position { -0.3  0.3  0.0  m }

LiabilityCheck Position { 9.7  0.6  0.0  m }

ClerkInbox_delay Points { { 20.9  5.6  0.0  m } { 22.4  5.6  0.0  m } }

ClientCorrection_delay Points { { 18.6  5.6  0.0  m } { 19.9  5.6  0.0  m } }

DigitalTransfer_delay Points { { 0.9  0.1  0.0  m } { 2.9  0.1  0.0  m } }

Drafting_delay Points { { 32.4  1.8  0.0  m } { 34.2  1.8  0.0  m } }

Finance_delay Points { { 18.1  2.2  0.0  m } { 19.9  2.2  0.0  m } }

HandoffFinance_delay Points { { 11.3  0.4  0.0  m } { 12.8  0.4  0.0  m } }

Investigation_delay Points { { 6.2  2.5  0.0  m } { 8.2  2.5  0.0  m } }

ReSub_delay Points { { 16.5  5.6  0.0  m } { 16.5  4.5  0.0  m } }

return_transfer_delay Points { { 24.0  3.3  0.0  m } { 24.0  5.6  0.0  m } }

ArrivalSource Position { -3.9  3.5  -0.0  m }

Completed_claims Position { 44.0  1.7  0.0  m }

Rejected_incomplete Position { -0.3  -1.2  0.0  m }

Rejected_liability Position { 9.7  -1.2  0.0  m }

FinanceQueue Position { 16.5  0.4  0.0  m }
FinanceQueue Size { 0.8  0.7  0.0  m }

IntakeQueue Position { -4.0  0.3  0.0  m }
IntakeQueue Size { 0.8  1.0  0.0  m }

InvestigatorQueue Position { 2.25  2.45  0.0  m }
InvestigatorQueue Size { 1.0  1.0  0.0  m }

LawyerQueue Position { 28.6  1.9  0.0  m }
LawyerQueue Size { 0.9  0.7  0.0  m }

PayoutQueue Position { 38.5  1.7  0.0  m }
PayoutQueue Size { 1.0  0.8  0.0  m }

ReleaseInvestigator Position { 9.7  2.5  0.0  m }

Release_finance Position { 21.3  2.2  0.0  m }

Release_lawyer Position { 36.2  1.8  0.0  m }

Seize_Investigator Position { 4.8  2.5  0.0  m }

Seize_finance Position { 16.5  2.3  0.0  m }

Seize_lawyer Position { 30.4  2.0  0.0  m }

FundsTransfServer Position { 40.8  1.7  0.0  m }

IntakeServer Position { -2.3  0.4  0.0  m }

Claim_FCR Position { -5.7  3.5  0.0  m }
Claim_FCR Alignment { 0.0  0.0  -0.5 }

Investigator_res Position { 2.3  1.2  0.0  m }

Lawyer_res Position { 26.8  2.1  0.0  m }

SeniorAdjuster_res Position { 14.4  0.5  0.0  m }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'GCI: AS-IS' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** Text ***

Text1 Position { -8.8  7.4  -0.0  m }
Text1 Size { 2.9  0.6  1.0  m }
Text1 Format { Distributions }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { 30.5  3.3  28.317828  m }
View1 ViewPosition { 30.5  3.3  45.638332  m }
View1 WindowSize { 1251  536 }
View1 WindowPosition { 221  111 }
View1 ShowWindow { TRUE }
View1 Lock2D { TRUE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }

# *** EntityLabel ***

DigitalTransfer_delay.Label Position { 0.0  -0.2  0.0  m }
DigitalTransfer_delay.Label Size { 2.4  0.3  1.0  m }

FinanceQueue.Label Size { 1.6  0.3  1.0  m }

HandoffFinance_delay.Label Position { -0.0  -0.2  0.0  m }
HandoffFinance_delay.Label Size { 2.4  0.3  1.0  m }

IntakeQueue.Label Size { 1.5  0.3  1.0  m }

InvestigatorQueue.Label Size { 2.1  0.3  1.0  m }

LawyerQueue.Label Size { 1.6  0.3  1.0  m }

PayoutQueue.Label Size { 1.5  0.3  1.0  m }

ReSub_delay.Label Position { 0.0  -0.9  0.0  m }

return_transfer_delay.Label Position { 0.3  -1.3  0.0  m }
return_transfer_delay.Label Size { 2.4  0.3  1.0  m }
