
RecordEdits

Define EntityConveyor { EntityConveyor1  EntityConveyor2  EntityConveyor3 }
Define EntityGenerator { EntityGenerator1 }
Define EntitySink { EntitySink1 }
Define Queue { Queue1  Queue2 }
Define Server { Server1  Server2 }
Define SimEntity { SimEntity1 }
Define ColladaModel { Axis  Grid100x100 }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define View { View1 }

Define EntityLabel { EntityConveyor1.Label  EntityConveyor2.Label  EntityConveyor3.Label  EntityGenerator1.Label  EntitySink1.Label }


Simulation Description { 'Simulation run control inputs' }

# *** EntityConveyor ***

EntityConveyor1 NextComponent { Queue1 }
EntityConveyor1 TravelTime { 2  s }

EntityConveyor2 NextComponent { Queue2 }
EntityConveyor2 TravelTime { 2  s }

EntityConveyor3 NextComponent { EntitySink1 }
EntityConveyor3 TravelTime { 2  s }

# *** EntityGenerator ***

EntityGenerator1 NextComponent { EntityConveyor1 }
EntityGenerator1 FirstArrivalTime { 2  s }
EntityGenerator1 InterArrivalTime { 3  s }
EntityGenerator1 PrototypeEntity { SimEntity1 }

# *** Queue ***

Queue1 MaxValidLength { 50 }

Queue2 MaxValidLength { 50 }

# *** Server ***

Server1 NextComponent { EntityConveyor2 }
Server1 WaitQueue { Queue1 }
Server1 ServiceTime { 4  s }

Server2 NextComponent { EntityConveyor3 }
Server2 WaitQueue { Queue2 }
Server2 ServiceTime { 5  s }

# *** GRAPHICS INPUTS ***

Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation RealTimeFactor { 100 }
Simulation ShowLabels { TRUE }
Simulation ShowSubModels { TRUE }
Simulation ShowReferences { FALSE }
Simulation ShowEntityFlow { TRUE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }

EntityConveyor1 Points { { -3.3  1.9  0.0  m } { -3.8  0.1  0.0  m } }

EntityConveyor2 Points { { -1.0  -0.6  0.0  m } { 2.1  -0.9  0.0  m } }

EntityConveyor3 Points { { 4.6  -0.1  0.0  m } { 4.7  2.0  0.0  m } }

EntityGenerator1 Position { -3.4  2.7  0.0  m }

EntitySink1 Position { 4.8  2.7  0.0  m }

Queue1 Position { -4.1  -0.5  0.0  m }

Queue2 Position { 2.7  -0.8  0.0  m }

Server1 Position { -2.1  -0.5  0.0  m }

Server2 Position { 4.7  -0.8  0.0  m }

SimEntity1 Position { -3.3  5.0  0.0  m }
SimEntity1 Alignment { 0.0  0.0  -0.5 }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { Test-model }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { 9.5  0.1  23.549554  m }
View1 ViewPosition { 9.5  0.1  40.870062  m }
View1 ShowWindow { TRUE }
View1 Lock2D { TRUE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }

# *** EntityLabel ***

EntityConveyor1.Label Position { -2.0  0.0  0.0  m }
EntityConveyor1.Label Size { 1.8  0.2  1.0  m }
EntityConveyor1.Label Orientation { 0.0  0.0  -0.0  deg }

EntityConveyor2.Label Position { 0.0  -0.4  0.0  m }

EntityConveyor3.Label Position { 1.4  -0.2  0.0  m }

EntityGenerator1.Label Position { 1.6  -0.1  0.0  m }

EntitySink1.Label Position { 1.4  -0.1  0.0  m }
