
RecordEdits

Define ExponentialDistribution { ExponentialIA  ExponentialService }
Define EntityGenerator { EntityGenerator1 }
Define EntitySink { EntitySink1 }
Define Queue { Queue1 }
Define Server { Barista }
Define SimEntity { Customer }
Define ColladaModel { Axis  Grid100x100 }
Define ImageModel { barista-model  coffee-break-model }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define Graph { Graph1 }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define Text { Text3 }
Define XYGraph { Calculated  Simulated }
Define View { View1 }

Define EntityLabel { Barista.Label  EntityGenerator1.Label  Queue1.Label }

Customer AttributeDefinitionList { { rate  0 } }

ExponentialIA UnitType { TimeUnit }
ExponentialService UnitType { TimeUnit }

Customer AttributeDefinitionList { { rate  0/1[s] } }

Simulation Description { 'Simulation run control inputs' }

# *** ExponentialDistribution ***

ExponentialIA RandomSeed { 1 }
ExponentialIA Mean { 1[h]/40 }

ExponentialService RandomSeed { 3 }
ExponentialService Mean { 1[h]/50 }

# *** EntityGenerator ***

EntityGenerator1 NextComponent { Queue1 }
EntityGenerator1 InterArrivalTime { ExponentialIA }
EntityGenerator1 PrototypeEntity { Customer }
EntityGenerator1 BaseName { C_ }

# *** Queue ***

Queue1 StateAssignment { waiting }

# *** Server ***

Barista NextComponent { EntitySink1 }
Barista StateAssignment { service }
Barista WaitQueue { Queue1 }
Barista ServiceTime { ExponentialService }

# *** GRAPHICS INPUTS ***

Simulation DisplayedUnits { deg  min }
Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation RealTimeFactor { 16384 }
Simulation ShowLabels { TRUE }
Simulation ShowSubModels { TRUE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { TRUE }
Simulation ObjectSelectorPos {  }
Simulation ObjectSelectorSize {  }
Simulation InputEditorPos {  }
Simulation InputEditorSize {  }
Simulation OutputViewerPos {  }
Simulation OutputViewerSize {  }
Simulation LogViewerPos {  }
Simulation LogViewerSize {  }

ExponentialIA Position { -7.4  3.8  -0.0  m }

ExponentialService Position { 2.0  -4.3  -0.0  m }

EntityGenerator1 Position { -6.75  0.0  0.0  m }
EntityGenerator1 Size { 2.1  2.0  1.0  m }

EntitySink1 Position { 1.9  4.8  0.0  m }

Queue1 Position { -3.4  0.95  0.0  m }
Queue1 Size { 1.5  1.4  0.0  m }

Barista Position { 1.7  0.5  0.0  m }
Barista Size { 2.3  3.8  1.0  m }
Barista DisplayModel {  }
Barista ProcessPosition { -2.5  0.5  1  m }

Customer Position { -9.8  0.5  0.25  m }
Customer Alignment { 0.0  0.0  -0.5 }
Customer Size { 1.9  2.1  2.0  m }
Customer Orientation { 0  0  0  deg }
Customer DisplayModel {  }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** ImageModel ***

barista-model ImageFile { barista.jpg }

coffee-break-model ImageFile { coffee-break.png }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

# *** Graph ***

Graph1 Position { -11.05  -8.8  0.0  m }
Graph1 Size { 20.2  13.6  1.0  m }
Graph1 Title { WIP }
Graph1 LineColours { { Red } { Blue } }
Graph1 XAxisTitle { 'Time weeks' }
Graph1 XAxisUnit { d }
Graph1 XAxisStart { -24  h }
Graph1 XAxisInterval { 4  h }
Graph1 XLines { -20  -16  -12  -8  -4  h }
Graph1 YAxisTitle { WIP }
Graph1 YAxisEnd { 20 }
Graph1 YAxisInterval { 2 }
Graph1 YLines { 2  4  6  8  10  12  14  16  18  20 }
Graph1 NumberOfPoints { 300 }
Graph1 DataSource { { '[Queue1].QueueLength + [Barista].NumberInProgress' } { 'sum(map(|x,i|((i-1)*x), {1 - [Barista].Utilisation, [Queue1].QueueLengthFractions(1) - 1 + [Barista].Utilisation} +  filter(|x,i|(i>1),[Queue1].QueueLengthFractions)))' } }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'Model Title' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** Text ***

Text3 Position { 6.4  0.5  0.0  m }
Text3 Size { 1.6  0.6  1.0  m }
Text3 Format { %s }
Text3 DataSource { 'util = [Barista].Utilisation #The utilization of the server#; 
queueLF = [Queue1].QueueLengthFractions # Array with the lenght fractions#;
{format("%n0 = %.4f",1 - util), 
format("%n1 = %.4f",queueLF(1) - 1 + util)} + 
map( |x,i|(format("%n"+"%.0f = %.4f",i+1,x)),filter(|x,i|(i>1 && i<21),queueLF) )' }

# *** XYGraph ***

Calculated Position { 14.4  3.5  0.0  m }
Calculated Size { 11.2  7.5  1.0  m }
Calculated Title { Calculated }
Calculated XAxisTitle { n }
Calculated XAxisStart { -1 }
Calculated XAxisEnd { 20 }
Calculated XLines { 20 }
Calculated YAxisTitle { Probability }
Calculated YAxisEnd { 0.2 }
Calculated YAxisInterval { 0.02 }
Calculated YAxisLabelFormat { %.2f }
Calculated YLines { 0.2 }
Calculated YDataSource { { '#Computin steady state probabilities with a lambda function#
map(|x|((1 - [ExponentialService].Mean/[ExponentialIA].Mean)*([ExponentialService].Mean/[ExponentialIA].Mean)^x),range(0,20))' } }
Calculated XDataSource { { range(0,20) } }
Calculated GraphType { BAR_GRAPH }

Simulated Position { 14.5  -4.7  0.0  m }
Simulated Size { 11.2  7.5  1.0  m }
Simulated Title { Simulated }
Simulated XAxisTitle { n }
Simulated XAxisStart { -1 }
Simulated XAxisEnd { 20 }
Simulated XLines { 20 }
Simulated YAxisTitle { Probability }
Simulated YAxisEnd { 0.2 }
Simulated YAxisInterval { 0.02 }
Simulated YAxisLabelFormat { %.2f }
Simulated YLines { 0.2 }
Simulated YDataSource { { '
#Computing the steady state probabilities using the simulated data#
{#Probability of the system being empty# 1 - [Barista].Utilisation, 
#Probability of having one entity in the system but zero in line# [Queue1].QueueLengthFractions(1) - 1 + [Barista].Utilisation} +
#Probabilities for 1 or more in the line# filter(|x,i|(i>1 && i<21),[Queue1].QueueLengthFractions)' } }
Simulated XDataSource { { range(0,20) } }
Simulated GraphType { BAR_GRAPH }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { 1.667315  -4.05777  19.743508  m }
View1 ViewPosition { 1.667315  -4.05777  62.103742  m }
View1 WindowSize { 1059  434 }
View1 WindowPosition { 220  98 }
View1 ShowWindow { TRUE }
View1 Lock2D { TRUE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }

# *** EntityLabel ***

Barista.Label Position { 0.2  -2.5  0.0  m }
Barista.Label Size { 3.2  1.0  1.0  m }
Barista.Label TextHeight { 0.5[m] }

EntityGenerator1.Label Position { 0.0  -1.1  0.0  m }
EntityGenerator1.Label Size { 2.1  0.3  1.0  m }
EntityGenerator1.Label Show { FALSE }

Queue1.Label Position { 0.2  -1.3  0.0  m }
Queue1.Label Size { 1.0  0.3  1.0  m }
Queue1.Label Show { FALSE }
