
RecordEdits

Define InputValue { N  c }
Define ExponentialDistribution { ExponentialIA  ExponentialService }
Define EntityGenerator { EntityGenerator1 }
Define EntityProcessor { EntityProcessor1  EntityProcessor2 }
Define Queue { Queue1  Queue2 }
Define SimEntity { Customer }
Define ResourcePool { ResourcePool1 }
Define ResourceUnit { Barista1  Barista2  Barista3  Barista4 }
Define ColladaModel { Axis  Grid100x100 }
Define ImageModel { barista-model  coffee-break-model }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define Text { Text1  Text2 }
Define XYGraph { Calculated  Simulated }
Define View { View1 }

Define EntityLabel { Customer.Label }

EntityProcessor1 AttributeDefinitionList { { onceC  0 } }
EntityProcessor1 CustomOutputList { { timeOne  0[s]  TimeUnit } }
Customer AttributeDefinitionList { { rate  0 } }

N UnitType { DimensionlessUnit }
c UnitType { DimensionlessUnit }
ExponentialIA UnitType { TimeUnit }
ExponentialService UnitType { TimeUnit }

EntityProcessor1 AttributeDefinitionList { { onceC  0 } }
Customer AttributeDefinitionList { { rate  0/1[s] } }

EntityProcessor1 CustomOutputList { { timeOne  [ExponentialService].Value  TimeUnit } }

Simulation Description { 'Simulation run control inputs' }
Simulation RunDuration { 2  y }

# *** InputValue ***

N Description { 'Capacity of the queue' }
N Value { 3 }

c Value { 2 }

# *** ExponentialDistribution ***

ExponentialIA RandomSeed { 1 }
ExponentialIA Mean { 8[min] }

ExponentialService RandomSeed { 3 }
ExponentialService Mean { 4[min] }

# *** EntityGenerator ***

EntityGenerator1 NextComponent { EntityProcessor2 }
EntityGenerator1 PrototypeEntity { Customer }
EntityGenerator1 BaseName { C_ }
EntityGenerator1 MaxNumber { N }
EntityGenerator1 InitialNumber { N }

# *** EntityProcessor ***

EntityProcessor1 NextComponent { EntityProcessor2 }
EntityProcessor1 WaitQueue { Queue1 }
EntityProcessor1 ResourceList { ResourcePool1 }
EntityProcessor1 Capacity { c }
EntityProcessor1 ServiceTime { ExponentialService }

EntityProcessor2 NextComponent { Queue1 }
EntityProcessor2 WaitQueue { Queue2 }
EntityProcessor2 Capacity { N }
EntityProcessor2 ServiceTime { ExponentialIA }

# *** Queue ***

Queue1 StateAssignment { waiting }

# *** ResourceUnit ***

Barista1 ResourcePool { ResourcePool1 }

Barista2 ResourcePool { ResourcePool1 }

Barista3 ResourcePool { ResourcePool1 }

Barista4 ResourcePool { ResourcePool1 }

# *** GRAPHICS INPUTS ***

Simulation DisplayedUnits { deg  min }
Simulation RealTime { FALSE }
Simulation SnapToGrid { TRUE }
Simulation RealTimeFactor { 976 }
Simulation ShowLabels { TRUE }
Simulation ShowSubModels { TRUE }
Simulation ShowReferences { TRUE }
Simulation ShowEntityFlow { TRUE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }
Simulation ObjectSelectorPos {  }
Simulation ObjectSelectorSize {  }
Simulation InputEditorPos {  }
Simulation InputEditorSize {  }
Simulation OutputViewerPos {  }
Simulation OutputViewerSize {  }
Simulation LogViewerPos {  }
Simulation LogViewerSize {  }

N Position { -4.5  2.5  0.0  m }

c Position { 1.4  2.4  0.0  m }

ExponentialIA Position { -7.4  2.2  -0.0  m }

ExponentialService Position { 1.5  -1.7  -0.0  m }

EntityGenerator1 Position { -9.8  0.5  0.0  m }

EntityProcessor1 Position { 1.4  0.5  0.0  m }

EntityProcessor2 Position { -6.5  -1.5  0.0  m }

Queue1 Position { -2.9  0.5  0.0  m }

Queue2 Position { -8.5  -1.5  0.0  m }

Customer Position { -12.0  0.5  0.25  m }
Customer Alignment { 0.0  0.0  -0.5 }
Customer Size { 1.3  1.2  2.0  m }
Customer Orientation { 0  0  0  deg }
Customer DisplayModel {  }

ResourcePool1 Position { 3.5  0.5  0.0  m }

Barista1 Position { 3.4  1.6  0.0  m }
Barista1 DisplayModel { barista-model }
Barista1 FollowAssignment { TRUE }

Barista2 Position { 4.5  1.6  0.0  m }
Barista2 Size { 0.4  0.4  0.0  m }
Barista2 DisplayModel { barista-model }
Barista2 FollowAssignment { TRUE }

Barista3 Position { 5.6  1.6  0.0  m }
Barista3 DisplayModel { barista-model }
Barista3 FollowAssignment { TRUE }

Barista4 Position { 6.6  1.6  0.0  m }
Barista4 DisplayModel { barista-model }
Barista4 FollowAssignment { TRUE }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** ImageModel ***

barista-model ImageFile { barista.jpg }

coffee-break-model ImageFile { coffee-break.png }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'Model Title' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** Text ***

Text1 Position { -4.4  3.2  0.0  m }
Text1 Size { 2.9  0.6  1.0  m }
Text1 Format { Population: }

Text2 Position { 1.4  3.3  0.0  m }
Text2 Size { 3.9  0.6  1.0  m }
Text2 Format { 'Parallel servers' }

# *** XYGraph ***

Calculated Position { -5.4  -6.8  0.0  m }
Calculated Size { 11.2  7.5  1.0  m }
Calculated Title { Calculated }
Calculated XAxisTitle { n }
Calculated XAxisStart { -1 }
Calculated XAxisEnd { 20 }
Calculated XLines { 20 }
Calculated YAxisTitle { Probability }
Calculated YAxisEnd { 0.44 }
Calculated YAxisInterval { 0.04 }
Calculated YAxisLabelFormat { %.2f }
Calculated YLines { 0.2 }
Calculated YDataSource { { 'rho = ([ExponentialService].Mean/[ExponentialIA].Mean);   
c = [EntityProcessor1].Capacity;   
factorial = {1,1,2,6,24}; 
n = [N].Value;
k = n + c; 
p0 = 1/(sum(map(|x|(rho^x*factorial(n+1)/(factorial(n-x+1)*factorial(x+1))), range(0,c-1))) + sum(map(|x|(rho^x*factorial(n+1)/(factorial(n-x+1)*factorial(c+1)*c^(x-c))),range(c,n))));  
map(|x|(p0*rho^x*factorial(n+1)/(factorial(n-x+1)*factorial(x+1))),range(0,c)) + map(|x|(p0*rho^x*factorial(n+1)/(factorial(n-x+1)*factorial(c+1)*c^(x-c))),range(c+1,n))' } }
Calculated XDataSource { { range(0,20) } }
Calculated GraphType { BAR_GRAPH }

Simulated Position { 6.7  -6.8  0.0  m }
Simulated Size { 11.2  7.5  1.0  m }
Simulated Title { Simulated }
Simulated XAxisTitle { n }
Simulated XAxisStart { -1 }
Simulated XAxisEnd { 20 }
Simulated XLines { 20 }
Simulated YAxisTitle { Probability }
Simulated YAxisEnd { 0.44 }
Simulated YAxisInterval { 0.04 }
Simulated YAxisLabelFormat { %.2f }
Simulated YLines { 0.2 }
Simulated YDataSource { { 'c = [EntityProcessor1].Capacity; 
filter(|x,i|(i<c+1),[ResourcePool1].UnitsInUseFractions) + 
{[ResourcePool1].UnitsInUseFractions(c+1) - sum(filter(|x,i|(i>1),[Queue1].QueueLengthFractions))} 
+  filter(|x,i|(i>1 && i<21),[Queue1].QueueLengthFractions)' } }
Simulated XDataSource { { range(0,20) } }
Simulated GraphType { BAR_GRAPH }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { -5.7  -3.7  -7.204668  m }
View1 ViewPosition { -5.7  -3.7  35.155566  m }
View1 WindowSize { 1059  437 }
View1 WindowPosition { 221  97 }
View1 ShowWindow { TRUE }
View1 Lock2D { TRUE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }

# *** EntityLabel ***

Customer.Label Position { 0.0  -1.2  0.0  m }
Customer.Label Size { 1.3  0.3  1.0  m }
Customer.Label Show { FALSE }
