
RecordEdits

Define InputValue { K  c }
Define ExponentialDistribution { ExponentialIA  ExponentialService }
Define Branch { Branch1 }
Define EntityGenerator { EntityGenerator1 }
Define EntityProcessor { EntityProcessor1 }
Define EntitySink { EntitySink1 }
Define Queue { Queue1 }
Define SimEntity { Customer }
Define ResourcePool { ResourcePool1 }
Define ResourceUnit { Barista1  Barista2  Barista3  Barista4 }
Define ColladaModel { Axis  Grid100x100 }
Define ImageModel { barista-model  coffee-break-model }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define Graph { WIP }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define Text { Text1  Text2 }
Define XYGraph { Calculated  Observed }
Define View { View1 }

EntityProcessor1 AttributeDefinitionList { { onceC  0 } }
EntityProcessor1 CustomOutputList { { timeOne  0 } }
Customer AttributeDefinitionList { { rate  0 } }

K UnitType { DimensionlessUnit }
c UnitType { DimensionlessUnit }
ExponentialIA UnitType { TimeUnit }
ExponentialService UnitType { TimeUnit }

EntityProcessor1 AttributeDefinitionList { { onceC  0 } }
Customer AttributeDefinitionList { { rate  0/1[s] } }

EntityProcessor1 CustomOutputList { { timeOne  'this.NumberInProgress == 1 ? this.ServiceTime : 0' } }

Simulation Description { 'Simulation run control inputs' }
Simulation RunDuration { 2  y }

# *** InputValue ***

K Description { 'Capacity of the queue' }
K Value { 1 }

c Value { 2 }

# *** ExponentialDistribution ***

ExponentialIA RandomSeed { 1 }
ExponentialIA Mean { 1[h]/9 }

ExponentialService RandomSeed { 3 }
ExponentialService Mean { 1[h]/10 }

# *** Branch ***

Branch1 NextComponentList { EntitySink1  Queue1 }
Branch1 Choice { '[Queue1].QueueLength >= [K].Value ? 1 : 2' }

# *** EntityGenerator ***

EntityGenerator1 NextComponent { Branch1 }
EntityGenerator1 InterArrivalTime { ExponentialIA }
EntityGenerator1 PrototypeEntity { Customer }
EntityGenerator1 BaseName { C_ }

# *** EntityProcessor ***

EntityProcessor1 NextComponent { EntitySink1 }
EntityProcessor1 WaitQueue { Queue1 }
EntityProcessor1 ResourceList { ResourcePool1 }
EntityProcessor1 Capacity { c }
EntityProcessor1 ServiceTime { ExponentialService }

# *** Queue ***

Queue1 StateAssignment { waiting }

# *** ResourceUnit ***

Barista1 ResourcePool { ResourcePool1 }

Barista2 ResourcePool { ResourcePool1 }

Barista3 ResourcePool { ResourcePool1 }

Barista4 ResourcePool { ResourcePool1 }

# *** GRAPHICS INPUTS ***

Simulation DisplayedUnits { deg  w }
Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation RealTimeFactor { 15624 }
Simulation ShowLabels { TRUE }
Simulation ShowSubModels { TRUE }
Simulation ShowEntityFlow { TRUE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { TRUE }
Simulation ObjectSelectorPos { 0  424 }
Simulation ObjectSelectorSize { 220  328 }
Simulation InputEditorPos { 220  534 }
Simulation InputEditorSize { 520  218 }
Simulation OutputViewerPos { 740  534 }
Simulation OutputViewerSize { 420  218 }
Simulation LogViewerPos { 760  534 }
Simulation LogViewerSize { 520  218 }

K Position { -3.5  2.5  0.0  m }

c Position { 1.4  4.1  -0.0  m }

ExponentialIA Position { -7.4  2.2  -0.0  m }

ExponentialService Position { 1.5  -1.7  -0.0  m }

Branch1 Position { -4.8  0.5  -0.0  m }

EntityGenerator1 Position { -7.3  0.5  0.0  m }

EntityProcessor1 Position { 1.4  0.5  0.0  m }

EntitySink1 Position { 1.4  2.7  0.0  m }

Queue1 Position { -2.9  0.5  0.0  m }

Customer Position { -9.8  0.5  0.25  m }
Customer Alignment { 0.0  0.0  -0.5 }
Customer Size { 1.9  2.1  2.0  m }
Customer Orientation { 0  0  0  deg }
Customer DisplayModel { coffee-break-model }

ResourcePool1 Position { 3.5  0.5  0.0  m }

Barista1 Position { 3.4  1.6  0.0  m }
Barista1 DisplayModel { barista-model }
Barista1 FollowAssignment { TRUE }

Barista2 Position { 4.5  1.6  0.0  m }
Barista2 Size { 0.4  0.4  0.0  m }
Barista2 DisplayModel { barista-model }
Barista2 FollowAssignment { TRUE }

Barista3 Position { 5.6  1.6  0.0  m }
Barista3 DisplayModel { barista-model }
Barista3 FollowAssignment { TRUE }

Barista4 Position { 6.6  1.6  0.0  m }
Barista4 DisplayModel { barista-model }
Barista4 FollowAssignment { TRUE }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** ImageModel ***

barista-model ImageFile { barista.jpg }

coffee-break-model ImageFile { coffee-break.png }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

# *** Graph ***

WIP Position { -17.8  -6.8  0.0  m }
WIP Size { 12.8  7.4  1.0  m }
WIP Title { WIP }
WIP LineColours { { Red } { Blue } }
WIP XAxisTitle { 'Time weeks' }
WIP XAxisUnit { w }
WIP XAxisStart { -10  w }
WIP XAxisInterval { 1  w }
WIP XLines { -9  -8  -7  -6  -5  -4  -3  -2  -1  w }
WIP YAxisTitle { WIP }
WIP YAxisEnd { 3 }
WIP YLines { 1  2  3 }
WIP NumberOfPoints { 300 }
WIP DataSource { { '[Queue1].QueueLength + [EntityProcessor1].NumberInProgress' } { 'c = [EntityProcessor1].Capacity;  sum(map(|x,i|((i-1)*x), filter(|x,i|(i<c+1),[ResourcePool1].UnitsInUseFractions) +  {[ResourcePool1].UnitsInUseFractions(c+1) - sum(filter(|x,i|(i>1),[Queue1].QueueLengthFractions))}  +  filter(|x,i|(i>1 && i<21),[Queue1].QueueLengthFractions)))' } }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'Model Title' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** Text ***

Text1 Position { -3.4  3.2  0.0  m }
Text1 Size { 4.0  0.6  1.0  m }
Text1 Format { 'Queue Capacity:' }

Text2 Position { 1.4  5.0  0.0  m }
Text2 Size { 3.9  0.6  1.0  m }
Text2 Format { 'Parallel servers' }

# *** XYGraph ***

Calculated Position { -5.4  -6.8  0.0  m }
Calculated Size { 11.2  7.5  1.0  m }
Calculated Title { Calculated }
Calculated XAxisTitle { n }
Calculated XAxisStart { -1 }
Calculated XAxisEnd { 20 }
Calculated XLines { 20 }
Calculated YAxisTitle { Probability }
Calculated YAxisEnd { 0.44 }
Calculated YAxisInterval { 0.04 }
Calculated YAxisLabelFormat { %.2f }
Calculated YLines { 0.2 }
Calculated YDataSource { { 'rho = ([ExponentialService].Mean/[ExponentialIA].Mean);  
c = [EntityProcessor1].Capacity;  
factorial = {1,1,2,6,24};
k = [K].Value + c;
p0 = 1/(sum(map(|x|(rho^x/factorial(x+1)), range(0,c))) + rho^c/factorial(c+1)*sum(map(|x|((rho/c)^(x-c)),range(c+1,k)))); 
map(|x|(rho^x*p0/factorial(x+1)),range(0,c)) + map(|x|(rho^x*p0/(factorial(c+1)*c^(x-c))),range(c+1,k))' } }
Calculated XDataSource { { range(0,20) } }
Calculated GraphType { BAR_GRAPH }

Observed Position { 6.7  -6.8  0.0  m }
Observed Size { 11.2  7.5  1.0  m }
Observed Title { Observed }
Observed XAxisTitle { n }
Observed XAxisStart { -1 }
Observed XAxisEnd { 20 }
Observed XLines { 20 }
Observed YAxisTitle { Probability }
Observed YAxisEnd { 0.44 }
Observed YAxisInterval { 0.04 }
Observed YAxisLabelFormat { %.2f }
Observed YLines { 0.2 }
Observed YDataSource { { 'c = [EntityProcessor1].Capacity; 
filter(|x,i|(i<c+1),[ResourcePool1].UnitsInUseFractions) + 
{[ResourcePool1].UnitsInUseFractions(c+1) - sum(filter(|x,i|(i>1),[Queue1].QueueLengthFractions))} 
+  filter(|x,i|(i>1 && i<21),[Queue1].QueueLengthFractions)' } }
Observed XDataSource { { range(0,20) } }
Observed GraphType { BAR_GRAPH }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { -6.004983  -3.338382  8.999557  m }
View1 ViewPosition { -6.004983  -3.338382  51.359791  m }
View1 WindowSize { 1331  407 }
View1 WindowPosition { 241  127 }
View1 ShowWindow { TRUE }
View1 Lock2D { TRUE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }
