
RecordEdits

Define DiscreteDistribution { TypeDist }
Define Branch { Type }
Define EntityGenerator { ClientGenerator }
Define EntitySink { EntitySink1 }
Define Queue { Queue1  Queue2  Queue3  Queue4 }
Define Server { Complex  Easy  Pay  ReceiveClient }
Define SimEntity { SimEntity1 }
Define Statistics { Statistics1 }
Define ColladaModel { Axis  Grid100x100 }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define Text { Text1  Text2  Text3  Text4  Text5 }
Define View { View1 }

Define EntityLabel { ClientGenerator.Label }


TypeDist UnitType { DimensionlessUnit }
Statistics1 UnitType { TimeUnit }
Text4 UnitType { TimeUnit }

Simulation Description { 'Simulation run control inputs' }

# *** DiscreteDistribution ***

TypeDist RandomSeed { 1 }
TypeDist ValueList { 1  2 }
TypeDist ProbabilityList { 0.3  0.7 }

# *** Branch ***

Type NextComponentList { Easy  Complex }
Type Choice { TypeDist }

# *** EntityGenerator ***

ClientGenerator NextComponent { ReceiveClient }
ClientGenerator InterArrivalTime { 71  s }
ClientGenerator PrototypeEntity { SimEntity1 }
ClientGenerator MaxNumber { 100 }

# *** Server ***

Complex NextComponent { Pay }
Complex WaitQueue { Queue3 }
Complex ServiceTime { 60  s }

Easy NextComponent { Pay }
Easy WaitQueue { Queue2 }
Easy ServiceTime { 30  s }

Pay NextComponent { Statistics1 }
Pay WaitQueue { Queue4 }
Pay ServiceTime { 6  s }

ReceiveClient NextComponent { Type }
ReceiveClient WaitQueue { Queue1 }
ReceiveClient ServiceTime { 5  s }

# *** Statistics ***

Statistics1 NextComponent { EntitySink1 }
Statistics1 SampleValue { this.obj.TotalTime }

# *** GRAPHICS INPUTS ***

Simulation DisplayedUnits { deg }
Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation RealTimeFactor { 4096 }
Simulation PauseTime { 4200  s }
Simulation ShowLabels { TRUE }
Simulation ShowSubModels { TRUE }
Simulation ShowReferences { TRUE }
Simulation ShowEntityFlow { TRUE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }

TypeDist Position { -5.5  -3.5  0.0  m }

Type Position { -3.5  0.5  0.0  m }

ClientGenerator Position { -8.5  0.5  0.0  m }

EntitySink1 Position { 6.5  0.5  0.0  m }

Queue1 Position { -5.5  2.6  0.0  m }

Queue2 Position { -1.5  3.8  0.0  m }

Queue3 Position { -1.5  -3.3  0.0  m }

Queue4 Position { 0.5  2.6  0.0  m }

Complex Position { -1.5  -1.5  0.0  m }

Easy Position { -1.5  2.5  0.0  m }

Pay Position { 0.5  0.5  0.0  m }

ReceiveClient Position { -5.5  0.5  0.0  m }

SimEntity1 Position { -8.5  -1.5  0.0  m }
SimEntity1 Alignment { 0.0  0.0  -0.5 }

Statistics1 Position { 3.5  0.5  0.0  m }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { TRUE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'Model Title' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** Text ***

Text1 Position { -5.5  -1.5  0.0  m }
Text1 Size { 2.4  0.6  1.0  m }
Text1 Format { 'Clients:%n %.0f' }
Text1 DataSource { [ReceiveClient].NumberProcessed }
Text1 FailText {  }

Text2 Position { -3.4  -2.7  0.0  m }
Text2 Size { 2.4  0.6  1.0  m }
Text2 Format { 'Complex:%n %.0f' }
Text2 DataSource { [Complex].NumberProcessed }

Text3 Position { 2.2  1.5  0.0  m }
Text3 Size { 2.4  0.6  1.0  m }
Text3 Format { 'Payments:%n %.0f' }
Text3 DataSource { [Pay].NumberProcessed }

Text4 Position { 4.6  -1.6  0.0  m }
Text4 Size { 1.6  0.6  1.0  m }
Text4 Format { 'CT = %n %.3f' }
Text4 Unit { s }
Text4 DataSource { [Statistics1].SampleAverage }

Text5 Position { -3.8  3.6  0.0  m }
Text5 Size { 2.4  0.6  1.0  m }
Text5 Format { 'Easy:%n %.0f' }
Text5 DataSource { [Easy].NumberProcessed }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { -0.2  0.4  1.732051  m }
View1 ViewPosition { -0.2  0.4  19.052559  m }
View1 ShowWindow { TRUE }
View1 Lock2D { TRUE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }

# *** EntityLabel ***

ClientGenerator.Label Position { 0.0  0.6  0.0  m }
ClientGenerator.Label Size { 2.0  0.3  1.0  m }
