
RecordEdits

Define Combine { Combine1 }
Define Duplicate { Duplicate1 }
Define EntityGenerator { EntityGenerator1 }
Define EntitySink { EntitySink1 }
Define Queue { Queue1  Queue2  Queue3  Queue4  Queue5  Queue6  Queue7 }
Define Server { Server1  Server2  Server3  Server4 }
Define SimEntity { SimEntity1 }
Define Statistics { Statistics1 }
Define ColladaModel { Axis  Grid100x100 }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define Text { Text1  Text2  Text3  Text4  Text5  Text6 }
Define View { View1 }


Statistics1 UnitType { TimeUnit }
Text1 UnitType { TimeUnit }

Simulation Description { 'Simulation run control inputs' }

# *** Combine ***

Combine1 NextComponent { Statistics1 }
Combine1 ServiceTime { 15  s }
Combine1 WaitQueueList { Queue5  Queue6  Queue7 }

# *** Duplicate ***

Duplicate1 NextComponent { Queue2 }
Duplicate1 TargetComponentList { Queue3  Queue4 }
Duplicate1 NumberOfDuplicates { 1  1 }

# *** EntityGenerator ***

EntityGenerator1 NextComponent { Server1 }
EntityGenerator1 InterArrivalTime { 40  s }
EntityGenerator1 PrototypeEntity { SimEntity1 }

# *** Server ***

Server1 NextComponent { Duplicate1 }
Server1 WaitQueue { Queue1 }
Server1 ServiceTime { 5  s }

Server2 NextComponent { Queue5 }
Server2 WaitQueue { Queue2 }
Server2 ServiceTime { 14  s }

Server3 NextComponent { Queue6 }
Server3 WaitQueue { Queue3 }
Server3 ServiceTime { 20  s }

Server4 NextComponent { Queue7 }
Server4 WaitQueue { Queue4 }
Server4 ServiceTime { 18  s }

# *** Statistics ***

Statistics1 NextComponent { EntitySink1 }
Statistics1 SampleValue { this.obj.TotalTime }

# *** GRAPHICS INPUTS ***

Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation RealTimeFactor { 64 }
Simulation ShowLabels { TRUE }
Simulation ShowSubModels { TRUE }
Simulation ShowEntityFlow { FALSE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { TRUE }

Combine1 Position { 0.5  0.5  0.0  m }

Duplicate1 Position { -5.5  0.5  0.0  m }

EntityGenerator1 Position { -9.5  0.5  0.0  m }

EntitySink1 Position { 4.5  0.5  0.0  m }

Queue1 Position { -7.5  2.6  0.0  m }

Queue2 Position { -3.7  2.5  0.0  m }

Queue3 Position { -3.8  0.5  0.0  m }

Queue4 Position { -3.6  -1.5  0.0  m }

Queue5 Position { -1.1  2.5  0.0  m }

Queue6 Position { -1.2  0.5  0.0  m }

Queue7 Position { -1.1  -1.5  0.0  m }

Server1 Position { -7.5  0.5  0.0  m }

Server2 Position { -2.5  2.5  0.0  m }

Server3 Position { -2.5  0.5  0.0  m }

Server4 Position { -2.5  -1.5  0.0  m }

SimEntity1 Position { -9.5  -1.5  0.0  m }
SimEntity1 Alignment { 0.0  0.0  -0.5 }

Statistics1 Position { 2.5  0.5  0.0  m }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'Model Title' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** Text ***

Text1 Position { 4.4  -1.3  0.0  m }
Text1 Size { 1.6  0.6  1.0  m }
Text1 Format { 'CT: %n%.0f' }
Text1 DataSource { [Statistics1].SampleAverage }

Text2 Position { -6.7  -1.6  0.0  m }
Text2 Size { 1.6  0.6  1.0  m }
Text2 Format { 'Server 1%nProcessed: %n%.0f' }
Text2 DataSource { [Server1].NumberProcessed }

Text3 Position { -4.8  3.9  0.0  m }
Text3 Size { 1.6  0.6  1.0  m }
Text3 Format { 'Server 2%nProcessed: %n%.0f' }
Text3 DataSource { [Server2].NumberProcessed }

Text4 Position { -1.9  3.9  0.0  m }
Text4 Size { 1.6  0.6  1.0  m }
Text4 Format { 'Server 3%nProcessed: %n%.0f' }
Text4 DataSource { [Server3].NumberProcessed }

Text5 Position { 0.9  3.9  0.0  m }
Text5 Size { 1.6  0.6  1.0  m }
Text5 Format { 'Server 4%nProcessed: %n%.0f' }
Text5 DataSource { [Server4].NumberProcessed }

Text6 Position { 1.0  -2.6  0.0  m }
Text6 Size { 1.6  0.6  1.0  m }
Text6 Format { 'Combine 1%nProcessed: %n%.0f' }
Text6 DataSource { [Combine1].NumberProcessed }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { -2.9  0.4  3.637307  m }
View1 ViewPosition { -2.9  0.4  20.957815  m }
View1 WindowSize { 1050  437 }
View1 WindowPosition { 230  97 }
View1 ShowWindow { TRUE }
View1 Lock2D { TRUE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }
