
RecordEdits

Define ExpressionThreshold { ExpressionThreshold1 }
Define ExponentialDistribution { IAT  Microphone_Distribution  PreparationDistribution }
Define Branch { CapacityCheck }
Define EntityDelay { PickUpWindow }
Define EntityGenerator { Customers_Pool }
Define EntitySink { ClientFinished  RejectedClient }
Define Queue { Microphone_queue }
Define Server { Microphone }
Define SimEntity { Customer }
Define Statistics { CT }
Define ColladaModel { Axis  Grid100x100 }
Define ImageModel { MicroPic  PickUp  barista  cashier  customer  person }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define EntityLabel { Customer_Label  Microphone_Label  PickUpWindow_Label }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define View { View1 }


IAT UnitType { TimeUnit }
Microphone_Distribution UnitType { TimeUnit }
PreparationDistribution UnitType { TimeUnit }
CT UnitType { TimeUnit }

Simulation Description { 'Simulation run control inputs' }
Simulation RunDuration { 1000  h }
Simulation InitializationDuration { 24  h }

# *** ExpressionThreshold ***

ExpressionThreshold1 OpenCondition { '[PickUpWindow].NumberInProgress < 2' }
ExpressionThreshold1 InitialOpenValue { TRUE }

# *** ExponentialDistribution ***

IAT RandomSeed { 3 }
IAT Mean { 60[min]/50 }

Microphone_Distribution RandomSeed { 1 }
Microphone_Distribution Mean { 60[min]/30 }

PreparationDistribution RandomSeed { 2 }
PreparationDistribution Mean { 60[min]/40 }

# *** Branch ***

CapacityCheck NextComponentList { Microphone_queue  RejectedClient }
CapacityCheck Choice { '[Microphone_queue].QueueLength < 1? 1 : 2' }

# *** EntityDelay ***

PickUpWindow NextComponent { CT }
PickUpWindow Duration { PreparationDistribution }
PickUpWindow AllowOvertaking { FALSE }

# *** EntityGenerator ***

Customers_Pool NextComponent { CapacityCheck }
Customers_Pool InterArrivalTime { IAT }
Customers_Pool PrototypeEntity { Customer }

# *** Server ***

Microphone OperatingThresholdList { ExpressionThreshold1 }
Microphone NextComponent { PickUpWindow }
Microphone WaitQueue { Microphone_queue }
Microphone ServiceTime { Microphone_Distribution }

# *** Statistics ***

CT NextComponent { ClientFinished }
CT SampleValue { this.obj.TotalTime }

# *** GRAPHICS INPUTS ***

Simulation DisplayedUnits { deg  min }
Simulation RealTime { FALSE }
Simulation SnapToGrid { TRUE }
Simulation RealTimeFactor { 224 }
Simulation ShowLabels { TRUE }
Simulation ShowSubModels { TRUE }
Simulation ShowReferences { TRUE }
Simulation ShowEntityFlow { FALSE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }

ExpressionThreshold1 Position { -12.7  -2.6  0.0  m }

IAT Position { -20.5  2.1  0.0  m }

Microphone_Distribution Position { -12.7  3.1  0.0  m }

PreparationDistribution Position { -9.1  3.1  0.0  m }

CapacityCheck Position { -18.3  0.0  0.0  m }

PickUpWindow Points { { -9.5  0.0  0.0  m } { -8.7  0.0  0.0  m } }
PickUpWindow Animation { TRUE }
PickUpWindow RotateEntities { FALSE }

Customers_Pool Position { -20.5  -0.0  0.0  m }

ClientFinished Position { -4.1  0.0  0.0  m }

RejectedClient Position { -18.3  -2.5  0.0  m }

Microphone_queue Position { -16.0  -0.0  0.0  m }

Microphone Position { -12.7  0.0  0.0  m }
Microphone Size { 2.1  2.1  1.0  m }

Customer Position { -23.0  -0.0  0.0  m }
Customer Alignment { 0.0  0.0  -0.5 }
Customer Size { 0.9  0.9  0.5  m }

CT Position { -6.3  0.0  0.0  m }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

# *** EntityLabel ***

Customer_Label Position { -0.2  -0.8  0.0  m }
Customer_Label Size { 1.3  0.3  1.0  m }
Customer_Label Show { FALSE }
Customer_Label TargetEntity { Customer }

Microphone_Label Position { 0.1  -0.9  0.0  m }
Microphone_Label Size { 1.3  0.3  1.0  m }
Microphone_Label Show { FALSE }
Microphone_Label TargetEntity { Microphone }

PickUpWindow_Label Position { 0.0  -0.4  0.0  m }
PickUpWindow_Label Size { 1.9  0.3  1.0  m }
PickUpWindow_Label Show { FALSE }
PickUpWindow_Label TargetEntity { PickUpWindow }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'Model Title' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { -13.5  -0.5  1.458291  m }
View1 ViewPosition { -13.5  -0.5  18.778799  m }
View1 WindowSize { 987  433 }
View1 WindowPosition { 219  98 }
View1 ShowWindow { TRUE }
View1 Lock2D { TRUE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }
