
RecordEdits

Define ExpressionThreshold { ExpressionThreshold1  ExpressionThreshold2 }
Define ExponentialDistribution { IAT  Microphone_Distribution  PreparationDistribution }
Define Branch { CheckSpace }
Define Combine { Window }
Define Duplicate { Duplicate1 }
Define EntityGenerator { Customers_Pool }
Define EntityProcessor { Kitchen }
Define EntitySink { ClientFinished  RejectedClient }
Define Queue { BlockedOrder  BlokedCustomer  Microphone_queue  Queue2 }
Define Server { Microphone }
Define SimEntity { Customer }
Define Statistics { Statistics1 }
Define Resource { Resource1 }
Define ColladaModel { Axis  Grid100x100 }
Define ImageModel { MicroPic  PickUp  barista  cashier  customer  person }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define EntityLabel { Customer_Label  Microphone_Label }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define View { View1 }

Customer AttributeDefinitionList { { name  0 } { priority  0 } }

IAT UnitType { TimeUnit }
Microphone_Distribution UnitType { TimeUnit }
PreparationDistribution UnitType { TimeUnit }
Statistics1 UnitType { TimeUnit }

Customer AttributeDefinitionList { { name  '""' } { priority  0 } }

Simulation Description { 'Simulation run control inputs' }
Simulation RunDuration { 1000  h }
Simulation InitializationDuration { 24  h }

# *** ExpressionThreshold ***

ExpressionThreshold1 OpenCondition { '[BlokedCustomer].QueueLength < 2' }
ExpressionThreshold1 InitialOpenValue { TRUE }

ExpressionThreshold2 OpenCondition { '[BlokedCustomer].QueueLength > 0 && [BlockedOrder].QueueLength > 0 ? ([BlokedCustomer].UniqueMatchValues(1) == [BlockedOrder].UniqueMatchValues(1) ? 1 : 0) : 1' }

# *** ExponentialDistribution ***

IAT RandomSeed { 3 }
IAT Mean { 60[min]/50 }

Microphone_Distribution RandomSeed { 1 }
Microphone_Distribution Mean { 60[min]/30 }

PreparationDistribution RandomSeed { 2 }
PreparationDistribution Mean { 60[min]/40 }

# *** Branch ***

CheckSpace NextComponentList { Microphone_queue  RejectedClient }
CheckSpace Choice { '[Microphone_queue].QueueLength < 1? 1 : 2' }

# *** Combine ***

Window OperatingThresholdList {  }
Window NextComponent { Statistics1 }
Window WaitQueueList { BlokedCustomer  BlockedOrder }
Window NumberRequired { 1  1 }
Window MatchRequired { TRUE }
Window FirstQueue { TRUE }

# *** Duplicate ***

Duplicate1 NextComponent { BlokedCustomer }
Duplicate1 TargetComponentList { Kitchen }

# *** EntityGenerator ***

Customers_Pool NextComponent { CheckSpace }
Customers_Pool AssignmentsAtStart { { this.obj.name=this.obj.Name } { 'this.obj.priority=parseNumber(substring(this.obj.Name,(indexOfStr(this.obj.name, "_")+1)))' } }
Customers_Pool InterArrivalTime { IAT }
Customers_Pool PrototypeEntity { Customer }
Customers_Pool BaseName { C_ }

# *** EntityProcessor ***

Kitchen NextComponent { BlockedOrder }
Kitchen WaitQueue { Queue2 }
Kitchen ResourceList { Resource1 }
Kitchen Capacity { 2 }
Kitchen ServiceTime { PreparationDistribution }

# *** Queue ***

BlockedOrder Match { this.obj.name }

BlokedCustomer Priority { this.obj.priority }
BlokedCustomer Match { this.obj.name }

# *** Server ***

Microphone OperatingThresholdList { ExpressionThreshold1 }
Microphone NextComponent { Duplicate1 }
Microphone WaitQueue { Microphone_queue }
Microphone ServiceTime { Microphone_Distribution }

# *** Statistics ***

Statistics1 NextComponent { ClientFinished }
Statistics1 SampleValue { this.obj.TotalTime }

# *** Resource ***

Resource1 Capacity { 3 }

# *** GRAPHICS INPUTS ***

Simulation DisplayedUnits { deg  min }
Simulation RealTime { FALSE }
Simulation SnapToGrid { TRUE }
Simulation RealTimeFactor { 114688 }
Simulation ShowLabels { TRUE }
Simulation ShowSubModels { TRUE }
Simulation ShowEntityFlow { TRUE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }

ExpressionThreshold1 Position { -13.3  -2.7  0.0  m }

ExpressionThreshold2 Position { -7.9  -1.6  0.0  m }

IAT Position { -20.5  -4.5  0.0  m }

Microphone_Distribution Position { -13.5  -4.5  0.0  m }

PreparationDistribution Position { -9.0  -4.5  0.0  m }

CheckSpace Position { -18.3  0.0  0.0  m }

Window Position { -7.0  0.0  0.0  m }

Duplicate1 Position { -10.9  -0.0  0.0  m }

Customers_Pool Position { -20.7  -0.0  0.0  m }

Kitchen Position { -9.0  2.5  0.0  m }

ClientFinished Position { -3.2  0.0  0.0  m }

RejectedClient Position { -18.3  -2.5  0.0  m }

BlockedOrder Position { -7.9  1.2  0.0  m }

BlokedCustomer Position { -9.0  0.0  0.0  m }

Microphone_queue Position { -16.0  -0.0  0.0  m }

Queue2 Position { -10.6  2.5  0.0  m }

Microphone Position { -13.2  -0.0  0.0  m }
Microphone Size { 1.8  1.9  1.0  m }

Customer Position { -23.3  0.0  0.0  m }
Customer Alignment { 0.0  0.0  -0.5 }
Customer Size { 0.9  0.9  0.5  m }

Statistics1 Position { -5.2  0.0  0.0  m }

Resource1 Position { -7.0  2.5  0.0  m }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** ImageModel ***

MicroPic ImageFile { '/C:/Users/s12953/OneDrive - Norges Handelshøyskole/Teaching/BAN403/projects2023/Project1/Solution/order.jpg' }

PickUp ImageFile { '/C:/Users/s12953/OneDrive - Norges Handelshøyskole/Teaching/BAN403/projects2023/Project1/Solution/pickUp.jpg' }

customer ImageFile { '/C:/Users/s12953/OneDrive - Norges Handelshøyskole/Teaching/BAN403/projects2023/Project1/Solution/customer.jpg' }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

# *** EntityLabel ***

Customer_Label Position { -0.1  -0.7  0.0  m }
Customer_Label Size { 1.3  0.3  1.0  m }
Customer_Label Show { FALSE }
Customer_Label TargetEntity { Customer }

Microphone_Label Position { 0.1  -0.9  0.0  m }
Microphone_Label Size { 1.3  0.3  1.0  m }
Microphone_Label Show { FALSE }
Microphone_Label TargetEntity { Microphone }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'Model Title' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { -12.9  -0.2  7.021635  m }
View1 ViewPosition { -12.9  -0.2  24.342143  m }
View1 WindowSize { 987  433 }
View1 WindowPosition { 219  98 }
View1 ShowWindow { TRUE }
View1 Lock2D { TRUE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }
