
RecordEdits

Define DiscreteDistribution { ErrorsDist }
Define Assign { Assign1 }
Define Branch { Errors? }
Define EntityGenerator { RequestGenerator }
Define EntitySink { EntitySink1 }
Define Queue { Queue1  Queue2  Queue3 }
Define Server { FillPart1  FillPart2  ReceiveRequest }
Define SimEntity { Order }
Define Statistics { Statistics1 }
Define ColladaModel { Axis  Grid100x100 }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define OverlayClock { Clock }
Define Text { Text1  Text2  Text3  Text4  Text5 }
Define View { View1 }

Define EntityLabel { RequestGenerator.Label }

Order AttributeDefinitionList { { rework  0 } }

ErrorsDist UnitType { DimensionlessUnit }
Statistics1 UnitType { TimeUnit }
Text4 UnitType { TimeUnit }

Order AttributeDefinitionList { { rework  0 } }

Simulation Description { 'Simulation run control inputs' }

# *** DiscreteDistribution ***

ErrorsDist RandomSeed { 1 }
ErrorsDist ValueList { 1  2 }
ErrorsDist ProbabilityList { 0.75  0.25 }

# *** Assign ***

Assign1 NextComponent { FillPart1 }
Assign1 AttributeAssignmentList { { 'this.obj.rework = 1' } }

# *** Branch ***

Errors? NextComponentList { Statistics1  Assign1 }
Errors? Choice { ErrorsDist }

# *** EntityGenerator ***

RequestGenerator NextComponent { ReceiveRequest }
RequestGenerator InterArrivalTime { 42  s }
RequestGenerator PrototypeEntity { Order }
RequestGenerator MaxNumber { 100 }

# *** Server ***

FillPart1 NextComponent { FillPart2 }
FillPart1 WaitQueue { Queue2 }
FillPart1 ServiceTime { 10  s }

FillPart2 NextComponent { Errors? }
FillPart2 WaitQueue { Queue3 }
FillPart2 ServiceTime { 14  s }

ReceiveRequest NextComponent { FillPart1 }
ReceiveRequest WaitQueue { Queue1 }
ReceiveRequest ServiceTime { 10  s }

# *** Statistics ***

Statistics1 NextComponent { EntitySink1 }
Statistics1 SampleValue { this.obj.TotalTime }

# *** GRAPHICS INPUTS ***

Simulation DisplayedUnits { deg }
Simulation RealTime { FALSE }
Simulation SnapToGrid { TRUE }
Simulation RealTimeFactor { 8 }
Simulation PauseTime { 4200  s }
Simulation ShowLabels { TRUE }
Simulation ShowSubModels { TRUE }
Simulation ShowEntityFlow { TRUE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { TRUE }
Simulation InputEditorPos { 222  537 }
Simulation InputEditorSize { 520  218 }

ErrorsDist Position { 0.5  -3.5  0.0  m }

Assign1 Position { -1.0  -0.5  0.0  m }

Errors? Position { 0.5  -1.5  0.0  m }

RequestGenerator Position { -8.5  0.5  0.0  m }

EntitySink1 Position { 6.5  0.5  0.0  m }

Queue1 Position { -5.5  2.6  0.0  m }

Queue2 Position { -2.5  2.6  0.0  m }

Queue3 Position { 0.5  2.6  0.0  m }

FillPart1 Position { -2.5  0.5  0.0  m }

FillPart2 Position { 0.5  0.5  0.0  m }

ReceiveRequest Position { -5.5  0.5  0.0  m }

Order Position { -8.5  -1.5  0.0  m }
Order Alignment { 0.0  0.0  -0.5 }

Statistics1 Position { 3.5  0.5  0.0  m }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** Text ***

Text1 Position { -5.5  -1.5  0.0  m }
Text1 Size { 2.4  0.6  1.0  m }
Text1 Format { 'Requests:%n %.0f' }
Text1 DataSource { [ReceiveRequest].NumberProcessed }

Text2 Position { -2.3  -1.5  0.0  m }
Text2 Size { 2.4  0.6  1.0  m }
Text2 Format { 'Count %n Fill1:%n %.0f' }
Text2 DataSource { [FillPart1].NumberProcessed }

Text3 Position { 2.0  1.4  0.0  m }
Text3 Size { 2.4  0.6  1.0  m }
Text3 Format { 'Count %n Fill2:%n %.0f' }
Text3 DataSource { [FillPart2].NumberProcessed }

Text4 Position { 4.6  -1.6  0.0  m }
Text4 Size { 1.6  0.6  1.0  m }
Text4 Format { 'CT = %n %.3f' }
Text4 Unit { s }
Text4 DataSource { [Statistics1].SampleAverage }

Text5 Position { 3.4  -3.4  0.0  m }
Text5 Size { 1.6  0.6  1.0  m }
Text5 Format { %.4f }
Text5 DataSource { [ErrorsDist].Value }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { -1.2  -0.5  1.733024  m }
View1 ViewPosition { -1.2  -0.5  19.053532  m }
View1 ShowWindow { TRUE }
View1 Lock2D { TRUE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }

# *** EntityLabel ***

RequestGenerator.Label Position { 0.0  0.6  0.0  m }
RequestGenerator.Label Size { 2.2  0.3  1.0  m }
