
RecordEdits

Define DiscreteDistribution { ratesContract  ratesEcon  ratesFin  ratesYear }
Define Branch { EconResult  FinResult  Signature  YeachCheck }
Define EntityConveyor { HandOffClerk  HandOffFin  HandoffAnalyst  handOffEcon }
Define EntityGenerator { PFRGenerator }
Define EntitySink { Exit1  Exit2  Exit3  Exit4 }
Define Queue { ClerckBuffer  ClerkBuffer2  ContractBuffer  EconBuffer  FinBuffer  FiscalBuffer  TransferBuffer }
Define Server { ClerckYear  Clerk  Contract  Economic  Finance  FiscalYear  Transfer }
Define SimEntity { PFR }
Define ColladaModel { Axis  Grid100x100 }
Define BarGauge { EconomicGauge }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define OverlayClock { Clock }
Define OverlayText { OverlayText2  OverlayText3  Title }
Define View { View1 }

Define EntityLabel { ClerckBuffer.Label  ClerkBuffer2.Label  ContractBuffer.Label  EconBuffer.Label  EconResult.Label  Economic.Label  EconomicGauge.Label  FinBuffer.Label  Finance.Label  FiscalBuffer.Label  FiscalYear.Label  HandOffClerk.Label  HandoffAnalyst.Label  PFR.Label  TransferBuffer.Label  YeachCheck.Label }


ratesContract UnitType { DimensionlessUnit }
ratesEcon UnitType { DimensionlessUnit }
ratesFin UnitType { DimensionlessUnit }
ratesYear UnitType { DimensionlessUnit }

Simulation Description { 'Simulation run control inputs' }

# *** DiscreteDistribution ***

ratesContract RandomSeed { 4 }
ratesContract ValueList { 1  2 }
ratesContract ProbabilityList { 0.1  0.9 }

ratesEcon RandomSeed { 1 }
ratesEcon ValueList { 1  2 }
ratesEcon ProbabilityList { 0.1  0.9 }

ratesFin RandomSeed { 3 }
ratesFin ValueList { 1  2 }
ratesFin ProbabilityList { 0.9  0.1 }

ratesYear RandomSeed { 2 }
ratesYear ValueList { 1  2 }
ratesYear ProbabilityList { 0.1  0.9 }

# *** Branch ***

EconResult NextComponentList { Exit1  HandOffFin }
EconResult Choice { ratesEcon }

FinResult NextComponentList { Contract  Exit2 }
FinResult Choice { ratesFin }

Signature NextComponentList { Exit3  Transfer }
Signature Choice { ratesContract }

YeachCheck NextComponentList { HandOffClerk  Finance }
YeachCheck Choice { ratesYear }

# *** EntityConveyor ***

HandOffClerk NextComponent { ClerckYear }
HandOffClerk TravelTime { 495  min }

HandOffFin NextComponent { FiscalYear }
HandOffFin TravelTime { 15  min }

HandoffAnalyst NextComponent { Finance }
HandoffAnalyst TravelTime { 15  min }

handOffEcon NextComponent { Economic }
handOffEcon TravelTime { 1935  min }

# *** EntityGenerator ***

PFRGenerator NextComponent { Clerk }
PFRGenerator InterArrivalTime { 24  h }
PFRGenerator PrototypeEntity { PFR }
PFRGenerator BaseName { PFR_ }

# *** Server ***

ClerckYear NextComponent { HandoffAnalyst }
ClerckYear WaitQueue { ClerkBuffer2 }
ClerckYear ServiceTime { 960  min }

Clerk NextComponent { handOffEcon }
Clerk WaitQueue { ClerckBuffer }
Clerk ServiceTime { 20  min }

Contract NextComponent { Signature }
Contract WaitQueue { ContractBuffer }
Contract ServiceTime { 480  min }

Economic NextComponent { EconResult }
Economic WaitQueue { EconBuffer }
Economic ServiceTime { 1440  min }

Finance NextComponent { FinResult }
Finance WaitQueue { FinBuffer }
Finance ServiceTime { 475  min }

FiscalYear NextComponent { YeachCheck }
FiscalYear WaitQueue { FiscalBuffer }
FiscalYear ServiceTime { 5  min }

Transfer NextComponent { Exit4 }
Transfer WaitQueue { TransferBuffer }

# *** GRAPHICS INPUTS ***

Simulation DisplayedUnits { min  deg }
Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation RealTimeFactor { 8192 }
Simulation ShowLabels { TRUE }
Simulation ShowSubModels { TRUE }
Simulation PresentationMode { FALSE }
Simulation LockWindows { TRUE }
Simulation ShowEntityFlow { TRUE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { TRUE }
Simulation ShowLogViewer { TRUE }
Simulation ModelBuilderPos { 0  98 }
Simulation ModelBuilderSize { 220  465 }
Simulation ObjectSelectorPos { 5  563 }
Simulation ObjectSelectorSize { 210  872 }
Simulation InputEditorPos { 220  925 }
Simulation InputEditorSize { 2193  514 }
Simulation OutputViewerPos { 2413  925 }
Simulation OutputViewerSize { 2187  515 }
Simulation LogViewerPos { 4600  925 }
Simulation LogViewerSize { 520  515 }

ratesContract Position { -4.8  -1.6  0.0  m }

ratesEcon Position { -9.0  -1.6  0.0  m }

ratesFin Position { -6.2  -1.6  0.0  m }

ratesYear Position { -7.5  -1.6  0.0  m }

EconResult Position { -2.8  0.2  0.0  m }

FinResult Position { 3.0  0.2  0.0  m }

Signature Position { 4.8  0.2  0.0  m }

YeachCheck Position { -0.1  0.2  0.0  m }

HandOffClerk Points { { 1.1  2.2  0.0  m } { 1.8  2.2  0.0  m } }

HandOffFin Points { { -1.9  1.5  0.0  m } { -0.9  1.5  0.0  m } }

HandoffAnalyst Points { { 3.5  3.7  0.0  m } { 3.5  2.5  0.0  m } }

handOffEcon Points { { -5.9  1.5  0.0  m } { -3.9  1.5  0.0  m } }

PFRGenerator Position { -8.6  1.5  0.0  m }

Exit1 Position { -2.8  -1.3  0.0  m }

Exit2 Position { 2.9  -1.2  0.0  m }

Exit3 Position { 4.9  -1.2  0.0  m }

Exit4 Position { 8.2  -0.4  0.0  m }

ClerckBuffer Position { -7.0  2.9  0.0  m }

ClerkBuffer2 Position { 2.3  4.8  0.0  m }

ContractBuffer Position { 4.8  2.4  0.0  m }

EconBuffer Position { -2.8  2.8  0.0  m }

FinBuffer Position { 2.6  2.3  0.0  m }

FiscalBuffer Position { -0.1  2.8  0.0  m }

TransferBuffer Position { 6.6  2.4  0.0  m }

ClerckYear Position { 2.3  3.7  0.0  m }

Clerk Position { -7.0  1.5  0.0  m }

Contract Position { 4.8  1.4  0.0  m }

Economic Position { -2.8  1.5  0.0  m }

Finance Position { 3.0  1.5  0.0  m }

FiscalYear Position { -0.1  1.5  0.0  m }

Transfer Position { 6.6  1.4  0.0  m }

PFR Position { -8.6  2.8  0.0  m }
PFR Alignment { 0.0  0.0  -0.5 }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** BarGauge ***

EconomicGauge Position { -4.3  3.9  0.0  m }
EconomicGauge Size { 0.6  3.1  1.0  m }
EconomicGauge DataSource { [Economic].FractionCompleted }
EconomicGauge Colour { Blue }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { TRUE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

OverlayText2 Format { OverlayText2 }

OverlayText3 Format { OverlayText3 }

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'Model Title' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { 3.7  0.9  36.585943  m }
View1 ViewPosition { 3.7  0.9  63.536048  m }
View1 WindowSize { 4900  828 }
View1 ShowWindow { TRUE }
View1 Lock2D { TRUE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }

# *** EntityLabel ***

ClerckBuffer.Label Position { 0.0  0.5  0.0  m }
ClerckBuffer.Label Size { 1.6  0.3  1.0  m }

ClerkBuffer2.Label Position { 0.1  0.4  0.0  m }
ClerkBuffer2.Label Size { 1.6  0.3  1.0  m }

ContractBuffer.Label Position { 0.1  0.4  0.0  m }
ContractBuffer.Label Size { 1.8  0.3  1.0  m }

EconBuffer.Label Position { -0.0  0.5  0.0  m }
EconBuffer.Label Size { 1.4  0.3  1.0  m }

EconResult.Label Position { -0.9  -0.3  0.0  m }
EconResult.Label Size { 1.4  0.3  1.0  m }

Economic.Label Position { -0.9  0.4  0.0  m }
Economic.Label Size { 1.2  0.3  1.0  m }

EconomicGauge.Label Position { 1.4  0.1  0.0  m }
EconomicGauge.Label Size { 1.8  0.3  1.0  m }
EconomicGauge.Label Orientation { 0.0  0.0  0.0  deg }

FinBuffer.Label Position { 0.2  0.5  0.0  m }
FinBuffer.Label Size { 1.2  0.3  1.0  m }

Finance.Label Position { -0.9  0.3  0.0  m }

FiscalBuffer.Label Position { -0.1  0.5  0.0  m }
FiscalBuffer.Label Size { 1.5  0.3  1.0  m }

FiscalYear.Label Position { -0.8  0.4  0.0  m }
FiscalYear.Label Size { 1.3  0.3  1.0  m }

HandOffClerk.Label Position { 0.0  0.3  0.0  m }
HandOffClerk.Label Size { 1.7  0.3  1.0  m }

HandoffAnalyst.Label Position { 1.1  0.1  0.0  m }
HandoffAnalyst.Label Size { 1.9  0.3  1.0  m }

PFR.Label Position { -0.2  0.5  0.0  m }
PFR.Label Size { 0.6  0.3  1.0  m }

TransferBuffer.Label Position { 0.1  0.4  0.0  m }
TransferBuffer.Label Size { 1.8  0.3  1.0  m }

YeachCheck.Label Position { 0.0  -0.5  0.0  m }
YeachCheck.Label Size { 1.5  0.3  1.0  m }
