
RecordEdits

Define ExpressionStatistics { WIP-Stats }
Define DiscreteDistribution { ratesContract  ratesEcon  ratesFin  ratesYear }
Define Branch { EconResult  FinResult  Signature  YeachCheck }
Define EntityConveyor { HandOffClerk  HandOffFin  HandoffAnalyst  handOffEcon }
Define EntityGenerator { PFRGenerator }
Define EntitySink { Exit1 }
Define Queue { ClerckBuffer  ClerkBuffer2  ContractBuffer  EconBuffer  FinBuffer  FiscalBuffer  TransferBuffer }
Define Server { ClerckYear  Clerk  Contract  Economic  Finance  FiscalYear  Transfer }
Define SimEntity { PFR }
Define Statistics { Statistics1 }
Define ColladaModel { Axis  Grid100x100 }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define Text { Text1  Text2  Text3  Text4  Text5  Text6 }
Define View { View1 }

Define EntityLabel { ClerckBuffer.Label  ClerkBuffer2.Label  ContractBuffer.Label  EconBuffer.Label  EconResult.Label  Economic.Label  FinBuffer.Label  Finance.Label  FiscalBuffer.Label  FiscalYear.Label  HandOffClerk.Label  HandoffAnalyst.Label  PFR.Label  TransferBuffer.Label  YeachCheck.Label }


WIP-Stats UnitType { DimensionlessUnit }
ratesContract UnitType { DimensionlessUnit }
ratesEcon UnitType { DimensionlessUnit }
ratesFin UnitType { DimensionlessUnit }
ratesYear UnitType { DimensionlessUnit }
Statistics1 UnitType { TimeUnit }
Text2 UnitType { TimeUnit }
Text6 UnitType { RateUnit }

Simulation Description { 'Simulation run control inputs' }

# *** ExpressionStatistics ***

WIP-Stats DataSource { '[PFRGenerator].NumberProcessed - [Statistics1].NumberAdded' }

# *** DiscreteDistribution ***

ratesContract RandomSeed { 4 }
ratesContract ValueList { 1  2 }
ratesContract ProbabilityList { 0.1  0.9 }

ratesEcon RandomSeed { 1 }
ratesEcon ValueList { 1  2 }
ratesEcon ProbabilityList { 0.1  0.9 }

ratesFin RandomSeed { 3 }
ratesFin ValueList { 1  2 }
ratesFin ProbabilityList { 0.9  0.1 }

ratesYear RandomSeed { 2 }
ratesYear ValueList { 1  2 }
ratesYear ProbabilityList { 0.1  0.9 }

# *** Branch ***

EconResult NextComponentList { Statistics1  HandOffFin }
EconResult Choice { ratesEcon }

FinResult NextComponentList { Contract  Statistics1 }
FinResult Choice { ratesFin }

Signature NextComponentList { Statistics1  Transfer }
Signature Choice { ratesContract }

YeachCheck NextComponentList { HandOffClerk  Finance }
YeachCheck Choice { ratesYear }

# *** EntityConveyor ***

HandOffClerk NextComponent { ClerckYear }
HandOffClerk TravelTime { 495  min }

HandOffFin NextComponent { FiscalYear }
HandOffFin TravelTime { 15  min }

HandoffAnalyst NextComponent { Finance }
HandoffAnalyst TravelTime { 15  min }

handOffEcon NextComponent { Economic }
handOffEcon TravelTime { 1935  min }

# *** EntityGenerator ***

PFRGenerator NextComponent { Clerk }
PFRGenerator InterArrivalTime { 24  h }
PFRGenerator PrototypeEntity { PFR }
PFRGenerator BaseName { PFR_ }

# *** Server ***

ClerckYear NextComponent { HandoffAnalyst }
ClerckYear WaitQueue { ClerkBuffer2 }
ClerckYear ServiceTime { 960  min }

Clerk NextComponent { handOffEcon }
Clerk WaitQueue { ClerckBuffer }
Clerk ServiceTime { 20  min }

Contract NextComponent { Signature }
Contract WaitQueue { ContractBuffer }
Contract ServiceTime { 480  min }

Economic NextComponent { EconResult }
Economic WaitQueue { EconBuffer }
Economic ServiceTime { 1440  min }

Finance NextComponent { FinResult }
Finance WaitQueue { FinBuffer }
Finance ServiceTime { 475  min }

FiscalYear NextComponent { YeachCheck }
FiscalYear WaitQueue { FiscalBuffer }
FiscalYear ServiceTime { 5  min }

Transfer NextComponent { Statistics1 }
Transfer WaitQueue { TransferBuffer }

# *** Statistics ***

Statistics1 NextComponent { Exit1 }
Statistics1 SampleValue { this.obj.TotalTime }

# *** GRAPHICS INPUTS ***

Simulation DisplayedUnits { h  deg }
Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation RealTimeFactor { 262144 }
Simulation ShowLabels { TRUE }
Simulation ShowSubModels { TRUE }
Simulation ShowReferences { FALSE }
Simulation ShowEntityFlow { FALSE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }
Simulation InputEditorPos { 221  533 }
Simulation InputEditorSize { 520  218 }

WIP-Stats Position { -9.0  -3.1  0.0  m }

ratesContract Position { -4.8  -1.6  0.0  m }

ratesEcon Position { -9.0  -1.6  0.0  m }

ratesFin Position { -6.2  -1.6  0.0  m }

ratesYear Position { -7.5  -1.6  0.0  m }

EconResult Position { -2.8  0.2  0.0  m }

FinResult Position { 3.0  0.2  0.0  m }

Signature Position { 4.8  0.2  0.0  m }

YeachCheck Position { -0.1  0.2  0.0  m }

HandOffClerk Points { { 1.1  2.2  0.0  m } { 1.8  2.2  0.0  m } }

HandOffFin Points { { -1.9  1.5  0.0  m } { -0.9  1.5  0.0  m } }

HandoffAnalyst Points { { 3.5  3.7  0.0  m } { 3.5  2.5  0.0  m } }

handOffEcon Points { { -5.9  1.5  0.0  m } { -3.9  1.5  0.0  m } }

PFRGenerator Position { -8.6  1.5  0.0  m }

Exit1 Position { 8.3  -3.1  0.0  m }

ClerckBuffer Position { -7.0  2.9  0.0  m }

ClerkBuffer2 Position { 2.3  4.8  0.0  m }

ContractBuffer Position { 4.8  2.4  0.0  m }

EconBuffer Position { -2.8  2.8  0.0  m }

FinBuffer Position { 2.6  2.3  0.0  m }

FiscalBuffer Position { -0.1  2.8  0.0  m }

TransferBuffer Position { 6.6  2.4  0.0  m }

ClerckYear Position { 2.3  3.7  0.0  m }

Clerk Position { -7.0  1.5  0.0  m }

Contract Position { 4.8  1.4  0.0  m }

Economic Position { -2.8  1.5  0.0  m }

Finance Position { 3.0  1.5  0.0  m }

FiscalYear Position { -0.1  1.5  0.0  m }

Transfer Position { 6.6  1.4  0.0  m }

PFR Position { -8.6  2.8  0.0  m }
PFR Alignment { 0.0  0.0  -0.5 }

Statistics1 Position { 6.6  -1.8  0.0  m }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'Model Title' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** Text ***

Text1 Position { 3.1  -2.9  0.0  m }
Text1 Size { 1.6  0.6  1.0  m }
Text1 Format { %.4f }
Text1 DataSource { [WIP-Stats].TimeAverage }

Text2 Position { 3.2  -3.6  0.0  m }
Text2 Size { 1.6  0.6  1.0  m }
Text2 Format { '%.4f h' }
Text2 Unit { h }
Text2 DataSource { [Statistics1].SampleAverage }

Text3 Position { 0.6  -2.9  0.0  m }
Text3 Size { 1.8  0.6  1.0  m }
Text3 Format { 'WIP =' }

Text4 Position { 0.8  -3.6  0.0  m }
Text4 Size { 1.4  0.6  1.0  m }
Text4 Format { 'CT =' }

Text5 Position { -0.9  -2.1  0.0  m }
Text5 Size { 4.7  0.6  1.0  m }
Text5 Format { 'Throughput Rate =' }

Text6 Position { 3.4  -2.1  0.0  m }
Text6 Size { 1.6  0.6  1.0  m }
Text6 Format { '%.4f /h' }
Text6 Unit { /h }
Text6 DataSource { 1/24[h] }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { -0.4  0.5  5.822539  m }
View1 ViewPosition { -0.4  0.5  23.143047  m }
View1 ShowWindow { TRUE }
View1 Lock2D { TRUE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }

# *** EntityLabel ***

ClerckBuffer.Label Position { 0.0  0.5  0.0  m }
ClerckBuffer.Label Size { 1.6  0.3  1.0  m }

ClerkBuffer2.Label Position { 0.1  0.4  0.0  m }
ClerkBuffer2.Label Size { 1.6  0.3  1.0  m }

ContractBuffer.Label Position { 0.1  0.4  0.0  m }
ContractBuffer.Label Size { 1.8  0.3  1.0  m }

EconBuffer.Label Position { -0.0  0.5  0.0  m }
EconBuffer.Label Size { 1.4  0.3  1.0  m }

EconResult.Label Position { -0.9  -0.3  0.0  m }
EconResult.Label Size { 1.4  0.3  1.0  m }

Economic.Label Position { -0.9  0.4  0.0  m }
Economic.Label Size { 1.2  0.3  1.0  m }

FinBuffer.Label Position { 0.2  0.5  0.0  m }
FinBuffer.Label Size { 1.2  0.3  1.0  m }

Finance.Label Position { -0.9  0.3  0.0  m }

FiscalBuffer.Label Position { -0.1  0.5  0.0  m }
FiscalBuffer.Label Size { 1.5  0.3  1.0  m }

FiscalYear.Label Position { -0.8  0.4  0.0  m }
FiscalYear.Label Size { 1.3  0.3  1.0  m }

HandOffClerk.Label Position { 0.0  0.3  0.0  m }
HandOffClerk.Label Size { 1.7  0.3  1.0  m }

HandoffAnalyst.Label Position { 1.1  0.1  0.0  m }
HandoffAnalyst.Label Size { 1.9  0.3  1.0  m }

PFR.Label Position { -0.2  0.5  0.0  m }
PFR.Label Size { 0.6  0.3  1.0  m }

TransferBuffer.Label Position { 0.1  0.4  0.0  m }
TransferBuffer.Label Size { 1.8  0.3  1.0  m }

YeachCheck.Label Position { 0.0  -0.5  0.0  m }
YeachCheck.Label Size { 1.5  0.3  1.0  m }
