
RecordEdits

Define ExpressionStatistics { WIPStatistics }
Define ExponentialDistribution { ServerTime }
Define UniformDistribution { InterArrival }
Define EntityGenerator { FUGenerator }
Define EntitySink { FUSink }
Define Queue { Queue1 }
Define Server { Server1 }
Define SimEntity { FlowUnit }
Define Statistics { CTStatistics }
Define ColladaModel { Axis  Grid100x100 }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define OverlayClock { Clock }
Define Text { Text4  Text5  ct  ri  ro }
Define View { View1 }

ri AttributeDefinitionList { { coun  0 } }
ro AttributeDefinitionList { { coun  0 } }

WIPStatistics UnitType { DimensionlessUnit }
ServerTime UnitType { TimeUnit }
InterArrival UnitType { TimeUnit }
CTStatistics UnitType { TimeUnit }
Text4 UnitType { DimensionlessUnit }
Text5 UnitType { DimensionlessUnit }
ct UnitType { TimeUnit }
ri UnitType { RateUnit }
ro UnitType { RateUnit }

ri AttributeDefinitionList { { coun  '{}' } }
ro AttributeDefinitionList { { coun  '{}' } }

Simulation Description { 'Simulation run control inputs' }
Simulation RunDuration { 2000000  min }

# *** ExpressionStatistics ***

WIPStatistics DataSource { '[FUGenerator].NumberProcessed - [FUSink].NumberProcessed' }

# *** ExponentialDistribution ***

ServerTime RandomSeed { 2 }
ServerTime Mean { 3  min }

# *** UniformDistribution ***

InterArrival RandomSeed { 1 }
InterArrival MinValue { 8  min }
InterArrival MaxValue { 10  min }

# *** EntityGenerator ***

FUGenerator NextComponent { Server1 }
FUGenerator InterArrivalTime { InterArrival }
FUGenerator PrototypeEntity { FlowUnit }
FUGenerator BaseName { FU_ }

# *** Server ***

Server1 NextComponent { CTStatistics }
Server1 WaitQueue { Queue1 }
Server1 ServiceTime { ServerTime }

# *** Statistics ***

CTStatistics NextComponent { FUSink }
CTStatistics SampleValue { this.obj.TotalTime }

# *** GRAPHICS INPUTS ***

Simulation DisplayedUnits { min  deg  /min }
Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation RealTimeFactor { 524288 }
Simulation PauseTime {  }
Simulation ShowLabels { TRUE }
Simulation ShowSubModels { TRUE }
Simulation ShowReferences { FALSE }
Simulation ShowEntityFlow { FALSE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }
Simulation InputEditorPos { 221  527 }
Simulation InputEditorSize { 622  199 }
Simulation OutputViewerPos { 846  527 }
Simulation OutputViewerSize { 420  218 }

WIPStatistics Position { 5.6  -2.1  0.0  m }

ServerTime Position { -1.5  -2.1  0.0  m }

InterArrival Position { -4.4  -2.1  0.0  m }

FUGenerator Position { -4.4  0.2  0.0  m }

FUSink Position { 1.6  0.2  0.0  m }

Queue1 Position { -1.5  2.1  0.0  m }

Server1 Position { -1.5  0.2  0.0  m }

FlowUnit Position { -6.6  0.2  0.0  m }
FlowUnit Alignment { 0.0  0.0  -0.5 }

CTStatistics Position { -0.0  0.2  0.0  m }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** Text ***

Text4 Position { 1.95  -2.2  0.0  m }
Text4 Size { 2.3  0.6  1.0  m }
Text4 Format { 'WIP = %.3f' }
Text4 DataSource { [WIPStatistics].TimeAverage }

Text5 Position { 2.0  -3.0  0.0  m }
Text5 Size { 4.2  0.6  1.0  m }
Text5 Format { 'WIP little = %.3f' }
Text5 DataSource { parseNumber([ri].DataSource)*parseNumber([ct].DataSource) }

ct Position { 2.2  -1.4  0.0  m }
ct Size { 1.6  0.6  1.0  m }
ct Format { 'CT = %.3f min' }
ct Unit { min }
ct DataSource { [CTStatistics].SampleAverage }

ri Position { -4.2  2.0  0.0  m }
ri Size { 1.7  0.6  1.0  m }
ri Format { 'Rate in: %n %.3f' }
ri Unit { /min }
ri DataSource { [FUGenerator].NumberProcessed/[Simulation].SimTime }
ri FailText { NaN }

ro Position { 1.8  1.9  0.0  m }
ro Size { 1.7  0.6  1.0  m }
ro Format { 'Rate out: %n %.3f' }
ro Unit { /min }
ro DataSource { '[FUSink].NumberProcessed /[Simulation].SimTime' }
ro FailText { NaN }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { -0.9  -0.2  -1.574592  m }
View1 ViewPosition { -0.9  -0.2  15.745916  m }
View1 WindowSize { 1053  430 }
View1 WindowPosition { 220  96 }
View1 ShowWindow { TRUE }
View1 Lock2D { TRUE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }
